<div class="page-title">
  <h2>نماذج التعريفات و التصاريح</h2>
  <p>يمكن النظام من خلال هذا القسم اصدار عدة نماذج و تقارير</p>
</div>

<div class="divider"></div> <!-- Divider line before the cards -->

<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h3>نموذج اصدار بطاقة التعريف</h3>
    </div>
    <div class="card-body">
      <p>يمكن النظام من طلب نموذج اصدار بطاقة التعريف</p>
      <a href="dashboard/definitions-autorisations/national-identity">

        <button class="card-button"> قم بالطلب الآن</button>

      </a>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>نموذج ترشيح الحصول على صفة عضو</h3>
    </div>
    <div class="card-body">
      <p>من هذا القسم يمكنك طلب الترشح للعضوية بالديوان</p>
      <a href="/dashboard/definitions-autorisations/member-nomination-form">
        <button class="card-button"> قم بالطلب الآن</button>
      </a>


    </div>

  </div>
  <div class="card">
    <div class="card-header">
      <h3>نموذج إخلاء الطرف</h3>
    </div>
    <div class="card-body">
      <p>من هذا القسم بصفة الية إعتماد نموذج إخلاء الطرف من كل الجهات بكل سرعة و دقة</p>
      <a href="/dashboard/definitions-autorisations/release-form">
        <button class="card-button"> عرض الأذونات</button>
      </a>
    </div>

  </div>

  <div class="card">
  <div class="card-header">
    <h3>إقرار و تعهد</h3>
  </div>
  <div class="card-body">
    <p>يمكنك النظام من سحب نموذج الاقرار و التعهد وتوقيعه و تسلمه للادارة الديوان</p>
    <a href="/dashboard/definitions-autorisations/acknowledgment-pledge">
      <button class="card-button"> قم بالطلب الآن</button>
    </a>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <h3>تقرير الاختبار عن فترة عمل</h3>
  </div>
  <div class="card-body">
    <p>يمكن من هذا القسم ادخال فترة الاختبرات واعتمادها</p>
    <a href="/dashboard/definitions-autorisations/test-report-for-working-period">
      <button class="card-button"> قم بالطلب الآن</button>
    </a>
  </div>
</div>






<div class="card">
  <div class="card-header">
    <h3> التقارير </h3>
  </div>
  <div class="card-body">
    <p>.من هذا القسم يمكنك عرض جميع كل هذه التقارير الصادرة خلال فترة معينة او لموظف معين مثلا</p>
    <a href="/dashboard/definitions-autorisations/reports">
      <button class="card-button">قم بطلبك الآن</button>
    </a>

  </div>
</div>
</div>


