<div class="page-title">
  <h2>نماذج الإجازات</h2>
  <p>يمكنك من خلال هذا القسم إعداد جميع أنواع الإجازات منها السنوية و المرضية و الطارئة و إدارة الوضع ... المعتمدة من
    الديوان</p>
</div>

<div class="divider"></div> <!-- Divider line before the cards -->

<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h3>إعداد رموز الإجازات</h3>
    </div>
    <div class="card-body">
      <p>يتيح النظام لمراقبة الموارد البشرية تنظيم وضعية كل موظف لديك من تشريحها و توزيعها لتسهيل العمل بين طلب الإجازة
        السنوية ومرضية و الإجازة الطارئة و غيرها...</p>
      <button class="card-button">إعداد الرموز</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>قائمة الإجازات</h3>
    </div>
    <div class="card-body">
      <p>من هذا القسم يمكنك عرض جميع الإجازات الصادرة لجميع الموظفين المسجلين لديك.</p>
      <a href="/dashboard/vacations/vacations-list">
        <button class="card-button">عرض الإجازات</button>
        
        </a>


    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>طلب إجازة</h3>
    </div>
    <div class="card-body">
      <p>الإجازات السنوية و الطارئة ... يمكنك النظام من عرض و متابعة كل الإجازات الخاصة بك و الموظفين لديك، حتى لو كنت
        مديرًا أو ليس لديك صلاحية كاملة في العمل.</p>
      <a href="/dashboard/vacations/vacation-request">
        <button class="card-button">قم بطلبك الآن</button>
      </a>

    </div>
  </div>
</div>