<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
</head>

<body>
 <!-- Chart Grid -->
 <div class="dashboard-grid">
  <!-- Bar Chart -->
  <div class="chart-container large">
   <h4>إنشاءات الحسابات حسب الشهر</h4>
   <canvas #barCanvas></canvas>
  </div>

  <!-- Pie Chart -->
  <div class="chart-container small">
   <h4>طلبات الاجازات
   </h4>
   <canvas #pieCanvas></canvas>
  </div>

  <!-- Exit Doughnut Chart -->
  <div class="chart-container small">
   <h4>أذونات الخروج
   </h4>
   <canvas #exitDoughnutCanvas></canvas>
  </div>

  <!-- Morning Delay Doughnut Chart -->
  <div class="chart-container small">
   <h4>تأخيرات الصباح</h4>
   <canvas #morningDoughnutCanvas></canvas>
  </div>

 </div>
</body>

</html>