<nav class="navbar  ">
  <div class="navbar-left">
    <img src="assets/logo.png" class="logo" alt="Logo" />
    <div class="nav-buttons">
      <button class="nav-button add-post-btn">إضافة منشور</button>
      <button class="nav-button forum-btn">منتدى</button>
    </div>

  </div>

  <div class="navbar-right">

    <div class="nav-buttons">

      <i class="fas fa-envelope" style='font-size:26px'><sup><small class="smalll"> &nbsp; {{ inProgressVacationCount }}
            &nbsp;</small> </sup></i>
      <i class="fas fa-user" style='font-size:26px'><sup><small class="smalll"> &nbsp; 1 &nbsp; </small></sup></i>



    </div>

  </div>

</nav>




<div class="sidebar">
  <div class="sidebar-content">
    <div class="profile-container">
      <img class="round"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLKH4ezp2wULtl_BXpCI209OU8Rd5HaTR_Uw&s" alt="user" />
      <div class="profile-text">
        <h2 class="profile-name">{{ userName }}</h2>
        <p class="profile-title"> {{ userTitle }}</p>
      </div>
    </div>

    <!-- الرئيسة Section -->
    <div class="section-title">الرئيسية</div>
    <ul class="custom-list">
      <li>
        <a class="nav-link" href="/dashboard/vacations">
          <span class="icon-container"><i class="fas fa-calendar-alt"></i></span>

          <span class="nav-text">نماذج الإجازات</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="/dashboard/autorisation/autorisation">
          <span class="icon-container"><i class="fas fa-check-square"></i></span>
          <span class="nav-text">نماذج الاذونات</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="/dashboard/definitions-autorisations">
          <span class="icon-container"><i class="fas fa-file-alt"></i></span>
          <span class="nav-text">نماذج التعريفات و التصاريح</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="/dashboard/definitions-autorisations/health-assurance">
          <span class="icon-container"><i class="fas fa-folder-open"></i></span>
          <span class="nav-text">نماذج اخرى</span>
        </a>
      </li>
    </ul>

    <!-- المهام Section -->
    <div class="section-title">المهام</div>
    <ul class="custom-list">
      <li>
        <a class="nav-link" href="/dashboard/profile">
          <span class="icon-container"><i class="fas fa-chart-line"></i> </span>
          <span class="nav-text">إعداد التقارير اليومية</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <span class="icon-container"><i class="fas fa-tasks"></i></span>
          <span class="nav-text">إعداد الخطط</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <span class="icon-container"><i class="fas fa-sitemap"></i></span>
          <span class="nav-text">الهيكل التنظيمي</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <span class="icon-container"><i class="fas fa-building"></i></span>
          <span class="nav-text">إعداد الجهات</span>
        </a>
      </li>
    </ul>

    <div class="footer">
      <img src="assets/logo.png" class="logo-img" alt="logo" />
    </div>
  </div>
</div>