<div class="page-title">
  <h2>نماذج الأذونات</h2>
  <p>يمكن النظام من خلال هذا القسم طلب اذن الخروج المبكر أو الدخول المتأخر</p>
</div>

<div class="divider"></div> <!-- Divider line before the cards -->

<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h3>طلب اذن بالخروج مبكر</h3>
    </div>
    <div class="card-body">
      <p>الخروج المبكر  قبل انتهاء الدوام الرسمي</p>
         <a href="dashboard/autorisation/autorisation-request">

      <button class="card-button"> قم بالطلب الآن</button>

         </a>

    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <h3>طلب الإذن بالدخول المتأخر</h3>
    </div>
    <div class="card-body">
      <p>من هذا القسم يمكنك عرض جميع الإجازات الصادرة لجميع الموظفين المسجلين لديك.</p>
     <a href="/dashboard/autorisation/morning-autorisation-request">
          <button class="card-button"> قم بالطلب الآن</button>      
     </a> 

      
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <h3>قائمة الأذونات </h3>
    </div>
    <div class="card-body">
      <p>الإجازات السنوية و الطارئة ... يمكنك النظام من عرض و متابعة كل الإجازات الخاصة بك و الموظفين لديك، حتى لو كنت مديرًا أو ليس لديك صلاحية كاملة في العمل.</p>
      <a href="/dashboard/autorisation/autorisation-list">
        <button class="card-button">قم بطلبك الآن</button>
      </a>
      
    </div>
  </div>
</div>
